# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Notebooks
.ipynb_checkpoints

# IDE specific
.idea/
.vscode/

# macOS
.DS_Store

# Hugging Face cache
.cache/
**/__pycache__/

# --- ADD THIS LINE ---
# Project-specific: Ignore downloaded datasets
ai-model-pipeline/data/